<ul class="nav" role="menu">
    <!--<li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">🏰</a></li>-->
    <li class="nav-about " role="menuitem"><a href="{{site.baseurl}}about/">WE</a></li>
    <!--저자들로 구성-->
    <li class="nav-archive " role="menuitem"><a href="{{site.baseurl}}author/tingstyle1">🧑🏻</a></li>
    <li class="nav-archive " role="menuitem"><a href="{{site.baseurl}}author/daisykim88">👧🏻</a></li>
    <!--깃허브는 대소문자 구분을 확실히 하며, 소문자로 링크가 잡히니 tag/소문자로 구성-->
    <!--<li class="nav-archive" role="menuitem"><a href="{{site.baseurl}}tag/rehab">🚴🏻‍♀</a></li>-->
    <!--<li class="nav-archive" role="menuitem"><a href="{{site.baseurl}}tag/paper">📑</a></li>-->
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">📚</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">🔖</a>
    </li>
</ul>